<html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <h1><a href="{% url 'home' %}"> Cryptography application </a></h1>
      <h3>Text hashing</h3>
   </head>
   <body style="margin:20;padding:0">
      <form action="/cryptoApp/hash" method="post">
         {% csrf_token %}
         {% for field in form.visible_fields %}
            <p>{{ field.label }} {{ field }}</p>
         {% endfor %}
        <input type="submit" value="Submit">
    </form>
   </body>
   
</html>
