<html>
   <head>
      <h1>Cryptography application</h1>
   </head>   
   <body>
      <form action='mac' method='GET'>
         <button type='submit'> MAC </button>
      </form>
      <form action='encrypt' method='GET'>
         <button type='submit'> Encrypt </button>
      </form>
      <form action='decrypt' method='GET'>
         <button type='submit'> Decrypt </button>
      </form>
      <form action='hash' method='GET'>
         <button type='submit'> Hash </button>
      </form>
      <form action='key' method='GET'>
         <button type='submit'> Generate key </button>
      </form>
   </body>
   
</html>